/*
 * 	@name: 		public/css/application.css
 *  @author:	Tykus
 *  @date:		2013-01-22
 * 	@version: 	1
 */

/* Import Google Web Fonts */
@import url(http://fonts.googleapis.com/css?family=Ubuntu|Open+Sans+Condensed);

/* 
 * Defined Application Styles
 */
body
{
	background: #ffffff url('../img/bg_content.png') repeat;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	padding-top: 40px;
}

.white
{
	background: #ffffff url('../img/bg_content.png') repeat;	
}

.panel
{
	height: 150px;
}

.whitespace
{
	margin: 0;
}

.post-title
{
	color: #f00;
}

.time-ago
{
	font-style: italic;
	font-size: 0.8em;
}

img .center {
	margin: 0 auto;
}

.page-title > h1 
{
	color: #ffffff;
	background: #b80000 url('../img/bg_content.png') repeat;	
	height: 60px;
	line-height: 60px;
	margin-top: -30px;
	margin-bottom: 30px;
	padding-left: 5px;
}

/* Footer styles
 * ============= */

#footer 
{
	line-height: 120px;
	background: url('../img/footer.png') repeat-x;
}

.footer-left
{
	text-align: left;
}

.footer-center 
{
	text-align: center;
}

.footer-right
{
	text-align: right;
}



/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }










/* Sticky footer styles
 * --------------------
 */
html,
body {
	height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -120px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 120px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
   }
}


/* Jumbotron
 * ---------------------------------------------------------------
 */

/* Base class
------------------------- */
.jumbotron {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: url("../img/header.jpg") no-repeat; 
}

.jumbrtron > img 
{
    margin-left: auto;
    margin-right: auto;
}

.jumbotron h1 {
	position: relative;
	bottom: 0;
	right: 0;
	font-size: 80px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
}
.jumbotron p 
{
	font-size: 24px;
	font-weight: 300;
	line-height: 1.25;
	margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

/* Masthead (docs home)
------------------------- */
.masthead {
  padding: 70px 0 80px;
  margin-bottom: 0;
  color: #fff;
}
.masthead h1 {
  font-size: 120px;
  line-height: 1;
  letter-spacing: -3px;
}
.masthead p {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
}

/* Textual links in masthead */
.masthead-links {
  margin: 0;
  list-style: none;
}
.masthead-links li {
  display: inline;
  padding: 0 10px;
  color: rgba(255,255,255,.25);
}